<!DOCTYPE html>
<html>
<head>
</head>

<%= render layout: 'shared/search_box' do %>

 <h1 style="text-align:center">Companies</h1>

<div class="container">
  <div class="row">
    <table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>President</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.president %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
    <button class="btn-success"><%= link_to 'New Company', new_company_path %></button>
</div>

<br>
<% end %>

</html>


